.outer_page_box {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
    border: 2px solid black;
    width: 95%;
}

.inner_page_box {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: white;
    border: 1px solid black;
    width: 95%
}

.review {
    margin: auto;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 95%;
    height: 100%;
    display: flex;
}

.disabled {
    visibility: hidden;
}

/* Dropdown Button */
.dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid #303030;
    min-width: 170px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: gray;
}

/* Star Rating */
.rate {
    float: left;
    height: 30px;
    padding: 0px;
    display: inline;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}